:root {
    --basic-white-color: #ffffff;
    --basic-bg-color: #000000;

    --basic-text-color: #000000;
    --accent-color: #fae205;

    --popup-shadow-color: rgba(255, 255, 255, 0.25);
    --popup-bg-color: rgba(0, 0, 0, 0.85);

    --placeholder-color: rgba(255, 255, 255, 0.5);

    --error-color: #ff1553;

    --hover-effect-color: #ffe0f9;

    --disabled-color: #e4e4e4;

    --assistant-shadow-color: rgba(0, 0, 0, 0.25);
}
